<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue_W2_API 登入</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    

    
<main id="login">
  <div class="container">
    <div class="wrap d-flex justify-content-center align-items-center">
      <div class="form-login">
        <h2 class="fs-3 text-center mb-4">請先登入</h2>
        <div class="mb-5">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" name="email" v-model="user.username" id="floatingEmail" placeholder="Email address">
            <label for="floatingEmail">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" name="password" v-model="user.password" id="floatingPass" placeholder="Password">
            <label for="floatingPass">Password</label>
          </div>
          <button type="button" class="btn btn-primary w-100 fs-5 text-white mb-3" v-on:click="login" id="btnLogin">登入</button>
          <!-- 練習用 -->
          <!-- <button type="button" class="btn btn-success w-100 fs-5" id="btnCheckLogin">驗證登入</button> -->
        </div>
        <p class="text-muted text-center">© 2021~∞ - 六角學院</p>
    
      </div>
    </div>  
  </div>  
</main>



  
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>